h1{
  color:#e60000; font-size: 50px;
}
h2{
  color:#ff6666;font-size: 30px;
}
body{
  background-color:#FFFACD ;
}
hr{
 border-color: coral;
 border-width: 12px;
 border-style: dotted none none;
 width: 90%
}
